services:
  postgres:
    image: postgres:15
    container_name: myproject_postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    image: myproject_app:latest
    build:
      context: .
    container_name: myproject_app
    depends_on:
      - postgres
    env_file:
      - .env
    ports:
      - "8000:8000"
      - "8001:8001"
    volumes:
      - .:/app
volumes:
  postgres_data: