services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    env_file:
      - ../.env
    ports:
      - "5432:5432"
    volumes:
      - ../postgres_data:/var/lib/postgresql/data
  python:
    image: python:3.11
    volumes:
      - ..:/workspace:cached
    working_dir: /workspace
    command: sleep infinity
    env_file:
      - ../.env
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - postgres